::-webkit-scrollbar {

    width: .8em;
}

::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 100vh;
    margin-block: 1em;

}

::-webkit-scrollbar-thumb {
    background: #ff004f;
    border-radius: 100vh;

}

::-webkit-scrollbar-thumb:hover {
    background: #e10148;
    border-radius: 100vh;

}

@supports(scrollbar-color: #ff004f #262626) {
    * {
        scrollbar-color: #ff004f #262626;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1c1c1c;
    color: #e3e3e3;
    margin: 0rem;
    overflow-x: hidden;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }

    50% {
      scale: 1 1.5;
    }

    to {
      rotate: 360deg;
    }
  }

  #blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #ff004f, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1;
  }

  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(12vmax);
  }

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #e3e3e3;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    background: #ff004f
}

.header-text {
    margin-top: 10%;
    font-size: 25px;
}

.header-text h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span {
    color: #ff004f;
}

.policy-text {
    margin-top: 10%;
    font-size: 16px;
}

.policy-text h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
}

.policy-text h2 {
    font-size: 30px;
    margin: 20px 0;
}

.policy-text p {
    line-height: 18pt;
}

.policy-text h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.policy-text li {
    margin-top: 10px;
}

.policy-text a {
    color: #ff004f;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 100;
    margin-top: 20px;
}

/*----------CSS FOR SMALL SCREENS-------------*/

nav .lol {
    display: none;
}

@media only screen and (max-width: 600px) {


    .header-text {
        margin-top: 20%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .policy-text {
        font-size: 14px;

    }

    .policy-text h1 {
        font-size: 25px;

    }

    .policy-text h2 {
        font-size: 20px;
    }

    .policy-text h3 {
        font-size: 18px;

    }

    nav .lol {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: rgba(255, 0, 79, 0.9);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: #e3e3e3;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #f1f1f1;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    nav ul li a:hover::after {
        width: 100%;
        background: #1c1c1c;
    }

    nav ul .lol {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-right {
        margin-top: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}
