:root{
    --darker:#1c1c1c;
    --dark:#262626;
    --pink1:#b54769;
    --pink2:#e10148;
    --pink3:#ff004e;
    --white1:#e3e3e3;
    --white2:#f1f1f1;
    --white3:#f5f5f5;
    --green:#61b752;
    --dark-a: rgba(38, 38, 38, 0.6);
    --dark-a2:rgba(0, 0, 0, 0.6);
    --light-a: rgba(255, 255, 255, 0.2);

}

@media (prefers-color-scheme:light){
    :root{
        --darker:#f5f5f5;
        --dark:#e3e3e3;
        --white1:#1c1c1c;
        --white2:#262626;
        --white3:#313131;
        --dark-a:rgba(227, 227, 227, 0.6);
        --light-a: rgba(0, 0, 0, 0.1);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
::-webkit-scrollbar {

    width: .8em;
}

::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: 100vh;
    margin-block: 1em;

}

::-webkit-scrollbar-thumb {
    background: var(--pink3);
    border-radius: 100vh;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--pink2);
    border-radius: 100vh;

}

@supports(scrollbar-color: var(--pink3) var(--dark)) {
    * {
        scrollbar-color: var(--pink3) var(--dark);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--darker);
    color: var(--white1);
    margin: 0rem;
    overflow-x: hidden;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }

    50% {
      scale: 1 1.5;
    }

    to {
      rotate: 360deg;
    }
  }

  #blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--pink3), mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1;
  }

  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(12vmax);
  }

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--white1);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    background: var(--pink3)
}

.header-text {
    margin-top: 10%;
    font-size: 25px;
}

.header-text h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span {
    color: var(--pink3);
}

.policy-text {
    margin-top: 10%;
    font-size: 16px;
}

.policy-text h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
}

.policy-text h2 {
    font-size: 30px;
    margin: 20px 0;
}

.policy-text p {
    line-height: 18pt;
}

.policy-text h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.policy-text li {
    margin-top: 10px;
}

.policy-text a {
    color: var(--pink3);
}

/*--------------footer--------------------*/

.footer {
	background-color: var(--dark-a);
    margin-top: 80px;
	padding: 40px 0;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.containerfooter {
	max-width: 1170px;
	margin: auto;
}

.rowfooter {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 30px;
}

.footer-col h4 {
	font-size: 18px;
	color: var(--white3);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 400;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--pink3);
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: var(--white1);
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: var(--pink3);
	padding-left: 7px;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: small;
    margin-top: 40px;
    color: var(--white1);
}

.footer-col .social-links a {
	color: var(--white3);
	background-color: var(--light-a);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #fff;
	background-color: var(--pink3);
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

/*----------CSS FOR SMALL SCREENS-------------*/

nav .lol {
    display: none;
}

@media only screen and (max-width: 600px) {


    .header-text {
        margin-top: 20%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .policy-text {
        font-size: 14px;

    }

    .policy-text h1 {
        font-size: 25px;

    }

    .policy-text h2 {
        font-size: 20px;
    }

    .policy-text h3 {
        font-size: 18px;

    }

    nav .lol {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: rgba(255, 0, 79, 0.9);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: var(--white1);
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #f1f1f1;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    nav ul li a:hover::after {
        width: 100%;
        background: var(--darker);
    }

    nav ul .lol {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-right {
        margin-top: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}
