:root{
    --darker:#1c1c1c;
    --dark:#262626;
    --pink1:#b54769;
    --pink2:#e10148;
    --pink3:#ff004e;
    --white1:#e3e3e3;
    --white2:#f1f1f1;
    --white3:#f5f5f5;
    --green:#61b752;
    --dark-a: rgba(38, 38, 38, 0.6);
    --dark-a2:rgba(0, 0, 0, 0.6);

}

@media (prefers-color-scheme:light){
    :root{
        --darker:#f5f5f5;
        --dark:#e3e3e3;
        --white1:#1c1c1c;
        --white2:#262626;
        --white3:#313131;
        --dark-a:rgba(227, 227, 227, 0.6)
    }
}

::-webkit-scrollbar {

    width: .8em;
}

::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: 100vh;
    margin-block: 1em;

}

::-webkit-scrollbar-thumb {
    background: var(--pink3);
    border-radius: 100vh;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--pink2);
    border-radius: 100vh;

}

@supports(scrollbar-color: var(--pink3) var(--dark)) {
    * {
        scrollbar-color: var(--pink3) var(--dark);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--darker);
    color: var(--white1);
    margin: 0rem;
    overflow-x: hidden;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--pink3), mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(12vmax);
}


#header {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/b1.png");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 20px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--white1);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--white2);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}


nav ul li a:hover::after {
    width: 100%;
    background: var(--pink3)
}


.header-text {
    margin-top: 20%;
    font-size: 25px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span {
    color: var(--pink3);
}

/*--------------about--------------------*/

#about {
    padding: 80px 0;
    color: var(--white1);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 30px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 40px;
    font-weight: 600;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--pink3);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;

}

.tab-links.active-link::after {
    width: 75%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}

.tab-contents ul li span {
    color: var(--pink1);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*----------my serviess---------------*/

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: var(--dark);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div i h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: var(--white1);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--pink3);
    transform: translateY(-8px);
}


/*--------------swiper--------------------*/

.testimonials-list {
    margin-top: 50px;
}

.testimonials {
    padding: 0 0;
}

.testimonials-items {
    background-color: var(--dark-a);
    padding: 30px;
    border-radius: 30px;
    /* height: auto; */
}

.testimonials-items .info {
    display: flex;
    align-items: center;
}

.testimonials-items img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-items .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--white2);
    line-height: 1.2;
}

.testimonials-items .date {
    font-size: 13px;
    text-transform: capitalize;
    color: var(--white1);
}

.testimonials-items p {
    margin-top: 20px;
    color: var(--white2);
}

.testimonials-items .rating {
    margin-top: 15px;
    font-size: 14px;
    color: #fab143
}

.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    background-color: var(--pink3);
}

/*--------------my work--------------------*/

#portfolio {
    padding: 50px 0;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(var(--dark-a2), var(--pink3));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.7s, opacity 1s;
    opacity: 0;

}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p {
    font-size: 14px;
}

.layer a {
    margin-top: 20px;
    color: var(--pink3);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: var(--white1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img {
    transform: scale(1.51);
}

.work:hover .layer {
    height: 100%;
    opacity: 1;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--pink3);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white1);
    transition: background 0.7s;
}

.btn:hover {
    background: var(--pink3);
}

/*--------------contact--------------------*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--pink3);
    margin-right: 15px;
    font-size: 25px;
    transform: translateY(4px);
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--white2);
    display: inline-block;
    transition: transform 0.4s;
}

.social-icons a:hover {
    color: var(--pink3);
    transform: translateY(-4px);
}


.btn.btn2 {
    display: inline-block;
    background-color: var(--pink3);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--dark-a);
    padding: 15px;
    margin: 15px 0;
    color: var(--white1);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: var(--dark-a);
    font-weight: 100;
    margin-top: 20px;
}

.copyright pre {
    margin-top: 5px;
}

.copyright a:link {
    color: var(--pink1);
    background-color: transparent;
    text-decoration: none;
}

.copyright a:visited {
    color: var(--pink2);
    background-color: transparent;
    text-decoration: none;
}

.copyright a:hover {
    color: var(--pink3);
    background-color: transparent;
    text-decoration: none;
}

/*----------cookie consent-------------*/

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: var(--white3);
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    transition: 500ms;
}

.cookie-container p {
    margin: 20px 0;
    line-height: 2;
    display: inline-block;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: var(--pink3);
}

.cookie-btn {
    background: var(--pink3);
    border: 0;
    color: var(--white3);
    padding: 10px 32px;
    font-size: 18px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    float: right;

}

/*----------CSS FOR SMALL SCREENS-------------*/

nav .lol {
    display: none;
}

@media only screen and (max-width: 1180px) {
    nav .lol {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: rgba(255, 0, 79, 0.9);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: var(--white1);
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        width: 0;
        height: 3px;
        background: var(--white2);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }

    nav ul li a:hover::after {
        width: 100%;
        background: var(--darker);
    }

    nav ul .lol {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {

    #header {
        background-image: url('/assets/images/b1-mob.png');
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-right {
        margin-top: 20px;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: var(--green);
    margin-top: -40px;
    display: block;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}