<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7LRNTZ84TV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7LRNTZ84TV');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4755096625502248"
        crossorigin="anonymous"></script>

    <meta name="title" content="Free Stream Overlays">
    <meta name="description"
        content="Enhance content with dynamic overlays! Free options for all platforms. Elevate your streams, videos, and posts. Transform your content today!">
    <meta name="keywords" content="Stream Overlays, Download, Free, Twitch overlays, Custom Overlay">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="author" content="Luqman Kittur">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.luqman.co.in/download">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" href="/static/images/download_light.png" media="(prefers-color-scheme: dark)" type="image/x-icon">
    <link rel="icon" href="/static/images/download_dark.png" media="(prefers-color-scheme: light)" type="image/x-icon">
    <title>Free Downloads | Luqman Graphics</title>
    <script src="https://kit.fontawesome.com/34b63bc7d8.js" crossorigin="anonymous"></script>


</head>

<body>
    <div id="blob"></div>
    <div id="blur"></div>
    <div id="header">
        <div class="container">
            <nav>
                <a href="/"><img src="/static/images/dark1.png" alt="Luqman Kittur Logo" class="logo"
                        loading="eager"></a>
                <ul id="sidemenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="https://payhip.com/LuqmanKittur"><i class="fa-solid fa-shop"></i> Store</a></li>
                    <li><i class="lol fa-sharp fa-solid fa-xmark" onclick="closemenu()"></i></li>
                </ul>
                <i class="lol fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Hey There!</p>
                <h1>Free <span>Downloads</span><br> Are Linked Below</h1>
            </div>
        </div>
    </div>

    <!---------------portfolio-------------->

    <div id="portfolio">
        <div class="container">
            <h1 class="sun-title">Downloads</h1>
            <div class="work-list hidden">

                <div class="work  hidden">
                    <img src="/static/images/work-1.jpg" alt="Stream Overlay Minimalistix Light Free Download">
                    <div class="layer">
                        <h3>Minimalistix Light</h3>
                        <p>A minimal looking light & animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1Qqo3J56QnnHcyl3CLnpHpyfkYZ5paScj"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-14.jpg" alt="Stream Overlay Radon Free Download">
                    <div class="layer">
                        <h3>Radon</h3>
                        <p>A dark Red Matrix insipred animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1X8A5E4THqcq5qx_Rsq_tEAe7Bsu8uNCi?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-16.jpg" alt="Stream Overlay Hazex Free Download">
                    <div class="layer">
                        <h3>Hazex</h3>
                        <p>A minimal reddish pink and grainy animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1KWDUX6cINiwQ9mHqnDnqlinAVDKsum0B?usp=drive_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-2.jpg" alt="Stream Overlay Minimalistix Dark Free Download">
                    <div class="layer">
                        <h3>Minimalistix Dark</h3>
                        <p>A minimal looking dark & animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1gAfOCf2id1s5-7RHUYxu8z9EUWNYWdk9"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-15.jpg" alt="Stream Overlay Triax Free Download">
                    <div class="layer">
                        <h3>Triax</h3>
                        <p>A Tri-color Japanese styled animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1SOWsjsVkdEW3qE44MpcYD4N2zfzGYtX7?usp=share_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-17.jpg" alt="Stream Overlay Sukoon Free Download">
                    <div class="layer">
                        <h3>Sukoon</h3>
                        <p>An enchanting winter wonderland with a crackling campfire nestled amidst a snowy forest.</p>
                        <a href="https://drive.google.com/drive/folders/1aReb1xwe0-7TQulmwI8Nyw5jGLyGf4CJ?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-13.jpg" alt="Stream Overlay Xakura Starfall Free Download">
                    <div class="layer">
                        <h3>Xakura Starfall</h3>
                        <p>A Snowy mountain with sakura trees on a beautiful starry night animated overlay for your
                            streams.</p>
                        <a href="https://drive.google.com/drive/folders/1dJPsPRC01y4c2rA4k5rnpvQD4khplgZZ?usp=share_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-9.jpg" alt="Stream Overlay Exospace Free Download">
                    <div class="layer">
                        <h3>Exospace</h3>
                        <p>A retro style space themed animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1H6zPrfzYtstPgdwwqNC9EQCoVspF0OwV?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-12.jpg" alt="Stream Overlay Minimalistix Vibrant Free Download">
                    <div class="layer">
                        <h3>Minimalistix Vibrant</h3>
                        <p>A minimal looking vibrant & animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/12MbkKIrD7QVKfs1PydbaYLJ0UZNpELBh?usp=share_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-19.jpg" alt="Stream Overlay Chakra Free Download">
                    <div class="layer">
                        <h3>Chakra</h3>
                        <p>A sleek animated overlay with a rotating red chakra for a captivating and sophisticated
                            stream experience.</p>
                        <a href="https://drive.google.com/drive/folders/19uyZQiaxLhOM6tDMb-yUGYr2m6v6gHma?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-10.jpg" alt="Stream Overlay Xakura Snowfall Free Download">
                    <div class="layer">
                        <h3>Xakura Snowfall</h3>
                        <p>A Snowy mountain with sakura trees with dragon flying animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1wYLqXN1gUyUET8aqNYF2vuRfJYnFYgnd?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-18.jpg" alt="Stream Overlay Ecliptix Free Download">
                    <div class="layer">
                        <h3>Ecliptix</h3>
                        <p>A pinkish pastel dreamscape where every stream glows with ethereal elegance.</p>
                        <a href="https://drive.google.com/drive/folders/1t0Bh8NPK_AofEoN6juleKjcKH29f6MuB?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-20.jpg" alt="Stream Overlay Synodic Free Download">
                    <div class="layer">
                        <h3>Synodic</h3>
                        <p>Stream in warp drive with a sleek black overlay, navigating through a starlit expanse at
                            light speed for an interstellar experience.</p>
                        <a href="https://drive.google.com/drive/folders/1SD5_qumy5TQwDGL9N_7ihQ5D2ioBlo7b?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work  hidden">
                    <img src="/static/images/work-4.jpg" alt="Stream Overlay Valorant Free Download">
                    <div class="layer">
                        <h3>Valorant</h3>
                        <p>Valorant agents animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1lZA1xODEMLqrkKqc1OAe8DuFK28pVP9F"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-8.jpg" alt="Stream Overlay Plannex Free Download">
                    <div class="layer">
                        <h3>Plannex</h3>
                        <p>A Planner insipred colorful animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1garBYs-yctATAr8c9bZwzNZG8MFJYGzk"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-11.jpg" alt="Stream Overlay Voltex Free Download">
                    <div class="layer">
                        <h3>Voltex</h3>
                        <p>A nice light animated overlay with cyan accents will be an eye-catching addition to your
                            streams.</p>
                        <a href="https://drive.google.com/drive/folders/1kwwzrQF465U9l34taKiFgLGZ5dVinSpJ?usp=share_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-3.jpg" alt="Stream Overlay Redux Free Download">
                    <div class="layer">
                        <h3>Redux</h3>
                        <p>A stunning wavy animated overlay for your streams inspired by pewdiepie.</p>
                        <a href="https://drive.google.com/drive/folders/1HFs6RWAqrJXvTw3fw-jpd392Ezli_eY2?usp=sharing"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-5.jpg" alt="Stream Overlay Squid Game Free Download">
                    <div class="layer">
                        <h3>Squid Game</h3>
                        <p>A dark animated overlay inspired by famous Web series SQUID GAMES for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1wgdNAawNOVMo1ei2kg83WYmxC5r3GHgk"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-6.jpg" alt="Stream Overlay Jackeloryx Free Download">
                    <div class="layer">
                        <h3>Jackeloryx</h3>
                        <p>A pleasent sharp animated overlay with custom logo in the background.</p>
                        <a href="https://www.fiverr.com/luqmankittur/design-an-animated-stream-overlay-pack-with-transitions"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>

                <div class="work hidden">
                    <img src="/static/images/work-7.jpg" alt="Stream Overlay Xeon Free Download">
                    <div class="layer">
                        <h3>Xeon</h3>
                        <p>A dark Matrix insipred animated overlay for your streams.</p>
                        <a href="https://drive.google.com/drive/folders/1IR0zf5r35YcKuGu_A3pY02aypldeec0d?usp=share_link"
                            target="_blank"><i class="fa-solid fa-circle-down"></i></a>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!---------------services-------------->

    <div id="services" class="hidden">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/8mkQDE&quot;">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>

                    <h2>Animated Overlay Design</h2>
                    <p>Design a custom animated stream pack for your channel to make your stream looks
                        eye-catching and immersive.</p>
                    <a href="https://www.fiverr.com/luqmankittur/design-an-animated-stream-overlay-pack-with-transitions"
                        target="_blank">Learn more</a>
                </div>
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/bLNpbq&quot;">
                    <i class="fa-solid fa-address-card"></i>
                    <h2>Business Card Design</h2>
                    <p>Design professional and modern two-sided business card design within 24 hours for your business
                        or personal use.</p>
                    <a href="https://www.fiverr.com/luqmankittur/design-a-minimalistic-business-card-with-two-variants"
                        target="_blank">Learn more</a>
                </div>
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/ZyV1ek&quot;">
                    <i class="fa-sharp fa-solid fa-crop"></i>
                    <h2>Professional Photo Editing</h2>
                    <p>Professsionally edit your images as per your needs within 24 hours.</p>
                    <a href="https://www.fiverr.com/luqmankittur/professionally-photoshop-your-images-within-hours"
                        target="_blank">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!---------------contact-------------->

    <div id="contact" class="hidden">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Submit Idea</h1>
                    <p><i class="fa-solid fa-envelope"></i> kitturluqman007@gmail.com</p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/luqman.co.in/#" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.behance.net/luqmankittur" target="_blank"><i
                                class="fa-brands fa-behance"></i></a>
                        <a href="https://twitter.com/KitturLuqman" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.facebook.com/luqman.kittur.3" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/luqmankittur" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Email" required>
                        <textarea name="Message" rows="6" placeholder="Explain Your Idea.."></textarea>
                        <button type="submit" class="btn btn2">SUBMIT</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>

        <!---------------footer-------------->

        <footer class="footer">
            <div class="containerfooter rowfooter">
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="https://payhip.com/LuqmanKittur">Store</a></li>
                        <li><a href="/download">Downloads</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Policies</h4>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/cookie">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Other Links</h4>
                    <ul>
                        <li><a href="https://www.fiverr.com/luqmankittur?source=gig_page" target="_blank">Fiverr</a>
                        </li>
                        <li><a href="https://github.com/luqmankittur" target="_blank">github</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Message Me</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/luqman.co.in/#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/luqmankittur"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="mailto:kitturluqman007@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2023 Made with Love by Luqman. </p>
            </div>
        </footer>
    </div>
    </div>

    <script src="/static/js/script2.js"></script>

</body>

</html>