<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7LRNTZ84TV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7LRNTZ84TV');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4755096625502248"
        crossorigin="anonymous"></script>
    <meta name="title" content="Free Stream Overlays">
    <meta name="description"
        content="Enhance content with dynamic overlays! Free options for all platforms. Elevate your streams, videos, and posts. Transform your content today!">
    <meta name="keywords" content="Stream Overlays, Download, Free, Twitch overlays, Custom Overlay">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Luqman Kittur">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.luqman.co.in/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/light/apple-touch-icon.png"
        media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/light/favicon-32x32.png"
        media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/light/favicon-16x16.png"
        media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/static/light/site.webmanifest" media="(prefers-color-scheme: dark)">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/dark/apple-touch-icon.png"
        media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/dark/favicon-32x32.png"
        media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/dark/favicon-16x16.png"
        media="(prefers-color-scheme: light)">
    <link rel="manifest" href="/static/dark/site.webmanifest" media="(prefers-color-scheme: light)">



    <!--<link rel="icon" href="/static/images/home_light.png" media="(prefers-color-scheme: dark)" type="image/x-icon">-->
    <!--<link rel="icon" href="/static/images/home_dark.png" media="(prefers-color-scheme: light)" type="image/x-icon">-->
    <title>Welcome</title>
    <script src="https://kit.fontawesome.com/34b63bc7d8.js" crossorigin="anonymous"></script>



</head>

<body>
    <div id="blob"></div>
    <div id="blur"></div>
    <div id="header">
        <div class="container">
            <nav>
                <a href="/"><img src="/static/images/dark1.png" alt="Luqman Kittur Logo" class="logo"
                        loading="eager"></a>
                <ul id="sidemenu">
                    <li><a href="/download">Downloads</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Reviews</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="https://payhip.com/LuqmanKittur"><i class="fa-solid fa-shop"></i> Store</a></li>
                    <li><i class="lol fa-sharp fa-solid fa-xmark" onclick="closemenu()"></i></li>
                </ul>
                <i class="lol fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Hey There!</p>
                <h1>I'm <span>Luqman</span> Kittur <br>From India</h1>
            </div>
        </div>
    </div>

    <!--------------about-------------------->

    <div id="about" class="hidden">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/static/images/aboutpic.jpg" alt="Luqman Kittur Picture" loading="eager">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>I thrive at the intersection of creative design and electronics and communication engineering.
                        With an unbounded passion for graphic design, I bring a unique perspective to the table. I excel
                        in connecting the dots – whether it's merging concepts from diverse fields, uniting individuals
                        across teams, or fusing applications from various industries. My technical skills are robust,
                        but it's my profound knack for graphic design that truly sets me apart. Welcome to my world
                        where technology and design converge in extraordinary ways.</p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Adobe Photoshop</span><br>• • • • •</li>
                            <li><span>Adobe AfterEffects</span><br>• • • • •</li>
                            <li><span>Adobe Illustrator</span><br>• • • • </li>
                            <li><span>C</span><br>• • • •</li>
                            <li><span>Python</span><br>• • • • •</li>
                            <li><span>HTML & CSS</span><br>• • • • •</li>

                        </ul>
                    </div>

                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>Freelancer</span><br>Level One Seller With All 5 Star Reviews, Since Feb 2022</li>
                            <li><span>Graphic Designer</span><br>2018 - Current</li>
                            <li><span>Intern</span><br>GTTC</li>
                        </ul>
                    </div>

                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2019 - 2023</span><br>BE from KLS VDIT</li>
                            <li><span>2018</span><br>PU from Expert College</li>
                            <li><span>2016</span><br>SSLC from Kendriya Vidhayala</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------------services-------------->

    <div id="services" class="hidden">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/8mkQDE&quot;">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>

                    <h2>Animated Overlay Design</h2>
                    <p>Design a custom animated stream pack for your channel to make your stream looks
                        eye-catching and immersive.</p>
                    <a href="https://www.fiverr.com/luqmankittur/design-an-animated-stream-overlay-pack-with-transitions"
                        target="_blank">Learn more</a>
                </div>
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/bLNpbq&quot;">
                    <i class="fa-solid fa-address-card"></i>
                    <h2>Business Card Design</h2>
                    <p>Design professional and modern two-sided business card design within 24 hours for your business
                        or personal use.</p>
                    <a href="https://www.fiverr.com/luqmankittur/design-a-minimalistic-business-card-with-two-variants"
                        target="_blank">Learn more</a>
                </div>
                <div onclick="window.location.href=&quot;https://www.fiverr.com/share/ZyV1ek&quot;">
                    <i class="fa-sharp fa-solid fa-crop"></i>
                    <h2>Professional Photo Editing</h2>
                    <p>Professsionally edit your images as per your needs within 24 hours.</p>
                    <a href="https://www.fiverr.com/luqmankittur/professionally-photoshop-your-images-within-hours"
                        target="_blank">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!---------------swiper-------------->

    <section id="testimonials" class="testimonials">
        <div class="container">
            <h1 class="sub-title">Reviews</h1>

            <div class="testimonials-list testimonials-content">
                <div class="swiper testimonials-slider js-testimonials-slider">
                    <div class="swiper-wrapper">

                        <!-- <div class="swiper-slide testimonials-items">
                        <div class="info">
                            <img
                                src="https://ui-avatars.com/api/?name=A+K&background=random&size=256&font-size=0.50&bold=true">
                            <div class="text-box">
                                <h3 class="name">Alexey Kolesniko</h3>
                                <span class="date">7 March 2023</span>
                            </div>
                        </div>
                        <p>like! like! like!
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                            -->
                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/mar.webp" alt="Marg4uux Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Marg4uux</h3>
                                    <span class="date">27 September 2023</span>
                                </div>
                            </div>
                            <p>worked with Luqman after seeing his work and liked what he did. He's a great guy who
                                works with love!

                                Pour les Français il est super compréhensif et aucun souci sur votre Anglais si il est
                                approximatif donc ne vous inquiétez pas et foncez les yeux fermées !
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static//clients/bas.webp" alt="Baptisyep Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Baptisyep</h3>
                                    <span class="date">23 September 2023</span>
                                </div>
                            </div>
                            <p>Wonderful!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/les.webp" alt="Les Bedjouzes Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Les Bedjouzes</h3>
                                    <span class="date">19 September 2023</span>
                                </div>
                            </div>
                            <p>Luqman vas very patient and kind with the tough customer i was 😂 I'm very happy with the
                                result and hope we'll work together again soon.

                                Luqman has top listening skills, is easy to reach and has good understanding of what the
                                customer wants

                                Hope to work with you again soon !
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/dor.jpg" alt="Dorian Cocatrix Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Dorian Cocatrix</h3>
                                    <span class="date">6 September 2023</span>
                                </div>
                            </div>
                            <p>Work done quickly (10 hours). Corresponds perfectly to my expectations. Really satisfied
                                with the final result and my exchanges with Luqman. I recommend working with him.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/crt.jpg" alt="Crthrdn Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Crthrdn</h3>
                                    <span class="date">1 September 2023</span>
                                </div>
                            </div>
                            <p>Fantastic designer. Very prompt responses. Will return!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=k+o&background=random&size=256&font-size=0.50&bold=true" alt="Korinocho Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Korinocho</h3>
                                    <span class="date">18 August 2023</span>
                                </div>
                            </div>
                            <p>Great design. Undersrtood totally what I asked for and delivered the overlay in no time.
                                Excellente design and smooth videos. Would totally ask him for another projects in the
                                future. Totally recommended.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/hyoki.webp" alt="Hyoki Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Hyoki</h3>
                                    <span class="date">3 August 2023</span>
                                </div>
                            </div>
                            <p>Muy buena atención la verdad es una agradable persona y entiende a la perfección con lo
                                pedido 10/10 / Very good attention, he's a nice person and he understands perfectly what
                                was requested 10/10
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=S+M&background=random&size=256&font-size=0.50&bold=true" alt="Soni Mulroy Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Soni Mulroy</h3>
                                    <span class="date">22 July 2023</span>
                                </div>
                            </div>
                            <p>Quick to reply and got the job done in time.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=N+D&background=random&size=256&font-size=0.50&bold=true" alt="ND Gaming Display Picture">
                                <div class="text-box">
                                    <h3 class="name">ND Gaming</h3>
                                    <span class="date">21 July 2023</span>
                                </div>
                            </div>
                            <p>He is very nice and enthusiastic to support and advise, or when I need to edit the
                                project according to my opinion without complaint. Prepare draft file, complete the
                                project very quickly. 5 stars above all excellent. I will continue to work with him and
                                future projects.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=I+G&background=random&size=256&font-size=0.50&bold=true" alt="Ivy Green Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Ivy Green</h3>
                                    <span class="date">24 June 2023</span>
                                </div>
                            </div>
                            <p>I loved working with Luqmankittur! They got back to me quickly and were always
                                professional! Luqmankittur did some fantastic work, and I'm so excited to start using my
                                new stream overlay! My logo is super cute and eye-catching! I absolutely adore
                                Luqmankittur work and will have them in mind when getting new work!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/wearz.webp" alt="Wearz Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Wearz</h3>
                                    <span class="date">21 June 2023</span>
                                </div>
                            </div>
                            <p>Very kind, very good and listen to the customer. Thanks a lot
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/jose.webp" alt="Jose Grobles Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Jose Grobles</h3>
                                    <span class="date">11 May 2023</span>
                                </div>
                            </div>
                            <p>Amazing communication and results!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/aster.webp" alt="Asterion Bon Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Asterion Bon</h3>
                                    <span class="date">7 March 2023</span>
                                </div>
                            </div>
                            <p>Awesome, thank you.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/cris.png" alt="Cristina Aje Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Cristina Aje</h3>
                                    <span class="date">20 April 2023</span>
                                </div>
                            </div>
                            <p>HE'S SO GOOD I HIGHLY RECOMMEND HIM.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=A+s&background=random&size=256&font-size=0.50&bold=true" alt="Asundere Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Asundere</h3>
                                    <span class="date">12 April 2023</span>
                                </div>
                            </div>
                            <p>Fast, Responsive, and Professional. He offers really great pricing options for those who
                                want a nice pop of graphics to add to their streaming yet something personalized for
                                every customer who wishes to have something unique to their brand and design.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=l+g&background=random&size=256&font-size=0.50&bold=true" alt="Lil Ghere Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Lil Ghere</h3>
                                    <span class="date">14 April 2023</span>
                                </div>
                            </div>
                            <p>Nice, exactly what i asked for.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=W+V&background=random&size=256&font-size=0.50&bold=true" alt="Haz Whealy Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Haz Whealy</h3>
                                    <span class="date">20 April 2023</span>
                                </div>
                            </div>
                            <p>I spent a lot of time working with artists on Fiverr, but he is by far the best person I
                                have ever worked with on this platform! He was super receptive to all feedback and very
                                professional. I am so happy with my final product from him and I genuinely couldn't
                                recommend him more! He went above and beyond to create a perfect overlay for my stream,
                                and I will definitely be working more with him in the future. 11/10 best experience on
                                this platform
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=f+e&background=random&size=256&font-size=0.50&bold=true" alt="Fefron Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Fefron</h3>
                                    <span class="date">13 March 2023</span>
                                </div>
                            </div>
                            <p>Excellent service, really professional. He was so communicative and attentive, great
                                experience!!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=A+K&background=random&size=256&font-size=0.50&bold=true" alt="Alexey Kolesniko Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Alexey Kolesniko</h3>
                                    <span class="date">7 March 2023</span>
                                </div>
                            </div>
                            <p>like! like! like!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/ask.jpg" alt="Ask Anoushka Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Ask Anoushka</h3>
                                    <span class="date">2 March 2023</span>
                                </div>
                            </div>
                            <p>Very good work highly recommend.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=t+p&background=random&size=256&font-size=0.50&bold=true" alt="Tyler P Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Tyler P</h3>
                                    <span class="date">22 February 2023</span>
                                </div>
                            </div>
                            <p>High quality and speedy service.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=e+t&background=random&size=256&font-size=0.50&bold=true" alt="El Ted Display Picture">
                                <div class="text-box">
                                    <h3 class="name">El Ted</h3>
                                    <span class="date">15 February 2023</span>
                                </div>
                            </div>
                            <p>Really good job, perfect comunication and really responsible, i want make more projects
                                with him in the future.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/rukusua.webp" alt="Rukusua Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Rukusua</h3>
                                    <span class="date">19 January 2023</span>
                                </div>
                            </div>
                            <p>Great seller, amazing communication and design totally in love with the product highly
                                highly recommend.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/cryro.webp" alt="Cryro Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Cryro</h3>
                                    <span class="date">2 January 2023</span>
                                </div>
                            </div>
                            <p>My first time using fiver and it was made very easy. Very open to different ideas and has
                                great ideas on how to improve your ideas himself, very nice to work with and completes
                                work within a short amount of time. Would recommend!
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=G+M&background=random&size=256&font-size=0.50&bold=true" alt="Grimortal Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Grimortal</h3>
                                    <span class="date">12 September 2022</span>
                                </div>
                            </div>
                            <p>Used this seller yet again. Fantastic service; always willing to go the extra mile.
                                Sorted for now; but all future graphic needs are coming to this seller. Top bloke.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img
                                    src="https://ui-avatars.com/api/?name=G+M&background=random&size=256&font-size=0.50&bold=true" alt="Grimortal Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Grimortal</h3>
                                    <span class="date">9 September 2022</span>
                                </div>
                            </div>
                            <p>Have loved working with the seller and will be continuing to use in the future. Took all
                                ideas into consideration and communicated his ideas to me. Lovely chap; would 1000%
                                recommend.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/sam.webp" alt="Sam Whaiiey Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Sam Whaiiey</h3>
                                    <span class="date">20 July 2022</span>
                                </div>
                            </div>
                            <p>An absolute pleasure to work with, very happy with the final result.
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                        <div class="swiper-slide testimonials-items">
                            <div class="info">
                                <img src="/static/clients/ronald.jpg" alt="Ronald Cascante Display Picture">
                                <div class="text-box">
                                    <h3 class="name">Ronald Cascante</h3>
                                    <span class="date">22 May 2022</span>
                                </div>
                            </div>
                            <p>Como siempre impecable
                                [As always impeccable]
                            </p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination js-testimonials-pagination"></div>
            </div>
        </div>
    </section>

    <!---------------portfolio-------------->

    <div id="portfolio" class="hidden">
        <div class="container">
            <h1 class="sun-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="/static/images/work-1.jpg" alt="Stream Overlay Minimalistix Light Free Download" loading="lazy">
                    <div class="layer">
                        <h3>Minimalistix Light</h3>
                        <p>A minimal looking light & animated overlay for your streams.</p>
                        <a href="https://www.behance.net/gallery/128030617/Minimalistix-Light-Stream-Overlay-FREE"
                            target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/static/images/work-14.jpg" alt="Stream Overlay Radon Free Download" loading="lazy">
                    <div class="layer">
                        <h3>Radon</h3>
                        <p>A dark Red Matrix insipred animated overlay for your streams.</p>
                        <a href="https://www.behance.net/gallery/161510757/Radon-Stream-Overlay-FREE" target="_blank"><i
                                class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/static/images/work-2.jpg" alt="Stream Overlay Minimalistix Dark Free Download" loading="lazy">
                    <div class="layer">
                        <h3>Minimalistix Dark</h3>
                        <p>A minimal looking dark & animated overlay for your streams.</p>
                        <a href="https://www.behance.net/gallery/128429155/Minimalistix-Dark-Stream-Overlay-FREE"
                            target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <a href="https://www.behance.net/luqmankittur" target="_blank" class="btn">SEE MORE</a>
        </div>
    </div>

    <!---------------contact-------------->

    <div id="contact" class="hidden">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-solid fa-envelope"></i> kitturluqman007@gmail.com</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/luqman.kittur.3" target="_blank"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/luqmankittur/?hl=en&__coig_restricted=1" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/luqmankittur" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.behance.net/luqmankittur" target="_blank"><i
                                class="fa-brands fa-behance"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Email" required>
                        <textarea name="Message" rows="6" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn2" id="submitbtn">SUBMIT</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2023 Made with Love by Luqman.</p>
            <pre><small><a href="/privacy">Privacy Policy</a>      |       <a href="/cookie">Cookie Policy</a></small></pre>
        </div>
    </div>

    <!---------------cookies consent-------------->

    <div class="cookie-container">
        <p>
            We use only essential cookies in this website to give you the best experience on our
            site and show you relevant ads. To find out more, read our
            <strong><a href="/privacy">privacy policy</a></strong> and <strong><a href="/cookie">cookie
                    policy</a></strong>.
        </p>

        <button class="cookie-btn">
            Okay
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>