<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="title" content="Pookie">
    <meta name="description"
        content="A video for my Pookie">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Luqman Kittur">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.luqman.co.in/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/pookie.css">



    <link rel="icon" href="/static/images/home_light.png" media="(prefers-color-scheme: dark)" type="image/x-icon">
    <link rel="icon" href="/static/images/home_dark.png" media="(prefers-color-scheme: light)" type="image/x-icon">
    <title>Pookie</title>
    <script src="https://kit.fontawesome.com/34b63bc7d8.js" crossorigin="anonymous"></script>



</head>

<body>
    <div id="blob"></div>
    <div id="blur"></div>
    <div id="header">
        <div class="container">
            <nav>
                <a href="/"><img src="/static/images/dark1.png" alt="Luqman Kittur Logo" class="logo"
                        loading="eager"></a>
                <ul id="sidemenu">
                    <li><a href="/">Home</a></li>
                    <li><i class="lol fa-sharp fa-solid fa-xmark" onclick="closemenu()"></i></li>
                </ul>
                <i class="lol fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            </div>
            </div>

            <h1><a href="https://jstrieb.github.io/link-lock/#eyJ2IjoiMC4wLjEiLCJlIjoiNGFVTloxY2V6OFNpYkZmaHE5TWFKWERnSG5tOUljd1FCZ1JMc1NYdFc0eWsrR3d2QnVuRlFuRVIwdjVsUEdTakNnVDlXUmd1dWpMNi9ROHFzTkRlVlE9PSIsImgiOiJXZW4gbGllYmUgaWNoPyIsInMiOiJqY2JmZDZrcUZOTEJRTHEzVWhyemF3PT0iLCJpIjoiWnJmcVp3UytWN04wNGwvWiJ9">Click Me</a></h1>
            <footer class="footer">
                <div class="containerfooter rowfooter">
                    <div class="footer-col">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://payhip.com/LuqmanKittur">Store</a></li>
                            <li><a href="/download">Downloads</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Policies</h4>
                        <ul>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/cookie">Cookie Policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Other Links</h4>
                        <ul>
                            <li><a href="https://www.fiverr.com/luqmankittur?source=gig_page" target="_blank">Fiverr</a>
                            </li>
                            <li><a href="https://github.com/luqmankittur" target="_blank">github</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Message Me</h4>
                        <div class="social-links">
                            <a href="https://www.instagram.com/luqman.co.in/#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/luqmankittur"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="mailto:kitturluqman007@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>Copyright © 2023 Made with Love by Luqman. </p>
                </div>
            </footer>
        </div>
    
        <!---------------cookies consent-------------->
    
        <div class="cookie-container">
            <p>
                We use only essential cookies in this website to give you the best experience on our
                site and show you relevant ads. To find out more, read our
                <strong><a href="/privacy">privacy policy</a></strong> and <strong><a href="/cookie">cookie
                        policy</a></strong>.
            </p>
    
            <button class="cookie-btn">
                Okay
            </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/static/js/script.js"></script>
    
    </body>
    
    </html>